<script>
  var resource = {
    msg_confirm_save: "{{resource.msg_confirm_save}}",
    msg_save_success: "{{resource.msg_save_success}}",

    error_undefined: "{{resource.error_undefined}}",
    error_exp: "{{resource.error_exp}}",
    error_type: "{{resource.error_type}}",

    error_boolean: "{{resource.error_boolean}}",
    error_strings: "{{resource.error_strings}}",
    error_numbers: "{{resource.error_numbers}}",
    error_integers: "{{resource.error_integers}}",
    error_datetimes: "{{resource.error_datetimes}}",
    error_dates: "{{resource.error_dates}}",

    error_required: "{{resource.error_required}}",
    error_minlength: "{{resource.error_minlength}}",
    error_maxlength: "{{resource.error_maxlength}}",

    error_email: "{{resource.error_email}}",
    error_integer: "{{resource.error_integer}}",
    error_number: "{{resource.error_number}}",
    error_precision: "{{resource.error_precision}}",
    error_scale: "{{resource.error_scale}}",
    error_phone: "{{resource.error_phone}}",
    error_fax: "{{resource.error_fax}}",
    error_url: "{{resource.error_url}}",
    error_ipv4: "{{resource.error_ipv4}}",
    error_ipv6: "{{resource.error_ipv6}}",
    error_digit: "{{resource.error_digit}}",
    error_dash_digit: "{{resource.error_dash_digit}}",
    error_code: "{{resource.error_code}}",
    error_dash_code: "{{resource.error_dash_code}}",
    error_routing_number: "{{resource.error_routing_number}}",
    error_post_code: "{{resource.error_post_code}}",
    error_ca_post_code: "{{resource.error_ca_post_code}}",
    error_us_post_code: "{{resource.error_us_post_code}}",

    error_min: "{{resource.error_min}}",
    error_max: "{{resource.error_max}}",
    error_gt: "{{resource.error_gt}}",
    error_lt: "{{resource.error_lt}}",
    error_equal: "{{resource.error_equal}}",
    error_date: "{{resource.error_date}}",
    error_min_date: "{{resource.error_min_date}}",
    error_max_date: "{{resource.error_max_date}}",
    error_from_now: "{{resource.error_from_now}}",
    error_from_tomorrow: "{{resource.error_from_tomorrow}}",
    error_from: "{{resource.error_from}}",
    error_after_now: "{{resource.error_after_now}}",
    error_after_tomorrow: "{{resource.error_after_tomorrow}}",
    error_after: "{{resource.error_after}}",

    error_400: "{{resource.error_400}}",
    error_401: "{{resource.error_401}}",
    error_403: "{{resource.error_403}}",
    error_404: "{{resource.error_404}}",
    error_409: "{{resource.error_409}}",
    error_410: "{{resource.error_410}}",

    error_network: "{{resource.error_network}}",
    error_response_body: "{{resource.error_response_body}}",
    error_submit_failed: "{{resource.error_submit_failed}}",
  }
  function getResource() {
    return resource
  }
</script>
