<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="theme-color" content="#fff" />
    <meta name="color-scheme" content="light" />
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Web site created using create-react-app" />
    <link rel="apple-touch-icon" href="/logo192.png" />
    <link rel="stylesheet" href="/fonts/material-icon/css/material-icons.css" />
    <link rel="stylesheet" href="/fonts/Roboto/font.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="manifest" href="/manifest.json" />
    <title>CMS Backoffice</title>
  </head>
  <body id="sysBody" class="full-header top-menu">
    {% include "partials/common.html" %}
    <div id="root">
      <div id="pageContainer" class="central-full">
        <form id="changePasswordForm" name="changePasswordForm" class="form" novalidate autocomplete="off" method="post">
          <div class="view-body row">
            <img class="logo" src="/images/logo.png" alt="logo" />
            <h2>{{resource.change_password}}</h2>
            <div class="message alert-error">{{message}}<span onclick="clearMessage(event)"></span></div>
            <label class="col s12 required {{errors.username.invalid}}">
              {{resource.username}}
              <input
                type="text"
                id="username"
                name="username"
                value="{{user.username}}"
                maxlength="100"
                required
                placeholder="{{resource.placeholder_username}}"
              />
            </label>
            <label class="col s12 required {{errors.currentPassword.invalid}}">
              {{resource.current_password}}
              <input
                type="text"
                id="currentPassword"
                name="currentPassword"
                value="{{user.currentPassword}}"
                maxlength="100"
                required
                placeholder="{{resource.placeholder_current_password}}"
              />
            </label>
            <label class="col s12 required {{errors.password.invalid}}">
              {{resource.new_password}}
              <input
                type="text"
                id="password"
                name="password"
                value="{{user.password}}"
                maxlength="100"
                required
                placeholder="{{resource.placeholder_new_password}}"
              />
            </label>
            <label class="col s12 required">
              {{resource.confirm_password}}
              <input
                type="text"
                id="confirmPassword"
                name="confirmPassword"
                value=""
                maxlength="100"
                required
                placeholder="{{resource.placeholder_confirm_password}}"
              />
            </label>
            <label class="col s12 required {{errors.passcode.invalid}}" hidden>
              {{resource.passcode}}
              <input type="text" id="passcode" name="passcode" value="{{user.passcode}}" maxlength="100" placeholder="{{resource.placeholder_passcode}}" />
            </label>
            <button type="submit" id="btnChangePassword" name="btnChangePassword" onclick="changePassword(event)">{{resource.button_change_password}}</button>
            <a id="btnSignin" href="/login">{{resource.button_signin}}</a>
            <a id="btnHome" href="/">{{resource.button_home}}</a>
          </div>
        </form>
      </div>
    </div>
    <script>
      const resource = {
        success_change_password: "{{resource.success_change_password}}",
        fail_change_password: "{{resource.fail_change_password}}",
        password_duplicate: "{{resource.password_duplicate}}",
        msg_passcode_incorrect: "{{resource.msg_passcode_incorrect}}",

        error_required: "{{resource.error_required}}",
        error_password: "{{resource.error_password}}",
        error_equal: "{{resource.error_equal}}",

        error_400: "{{resource.error_400}}",
        error_409: "{{resource.error_409}}",
        error_network: "{{resource.error_network}}",
        error_response_body: "{{resource.error_response_body}}",
        error_submit_failed: "{{resource.error_submit_failed}}",
      }
      function getResource() {
        return resource
      }
    </script>
    <script src="/static/script.js"></script>
    <script>
      function changePassword(e) {
        e.preventDefault()
        const resource = getResource()
        const target = e.target
        const form = target.form
        const eleMessage = form.querySelector(".message")
        const txtUsername = getElement(form, "username")
        const username = txtUsername.value
        if (username === "") {
          const label = getLabel(txtUsername)
          const msg = format(resource.error_required, label)
          showErrorMessage(eleMessage, msg)
          return
        }
        const txtCurrentPassword = getElement(form, "currentPassword")
        const currentPassword = txtCurrentPassword.value
        if (currentPassword === "") {
          const label = getLabel(txtCurrentPassword)
          const msg = format(resource.error_required, label)
          showErrorMessage(eleMessage, msg)
          return
        }
        const txtPassword = getElement(form, "password")
        const passwordLabel = getLabel(txtPassword)
        const password = txtPassword.value
        if (password === "") {
          const msg = format(resource.error_required, passwordLabel)
          showErrorMessage(eleMessage, msg)
          return
        }
        if (!resources.password.test(password)) {
          const msg = format(resource.error_password, passwordLabel)
          showErrorMessage(eleMessage, msg)
          return
        }
        const txtConfirmPassword = getElement(form, "confirmPassword")
        const confirmPassword = txtConfirmPassword.value
        if (confirmPassword !== password) {
          const label = getLabel(txtConfirmPassword)
          const msg = format(resource.error_equal, label, passwordLabel)
          showErrorMessage(eleMessage, msg)
          return
        }
        const user = { username, currentPassword, password }
        const txtPasscode = getElement(form, "passcode")
        if (!isHidden(txtPasscode)) {
          const passcode = txtPasscode.value
          if (passcode === "") {
            const label = getLabel(txtPasscode)
            const msg = format(resource.error_required, label)
            showErrorMessage(eleMessage, msg)
            return
          }
          user.passcode = passcode
          user.step = 2
        }
        const url = getCurrentURL()
        fetch(url, {
          method: "POST",
          headers: getHttpHeaders(),
          body: JSON.stringify(user),
        })
          .then((response) => {
            if (response.ok) {
              response.json().then((result) => {
                if (result) {
                  showInfoMessage(eleMessage, resource.success_change_password)
                } else {
                  showErrorMessage(eleMessage, resource.fail_change_password)
                }
              })
            } else {
              if (response.status === 401) {
                response
                  .text()
                  .then((msg) => {
                    showErrorMessage(eleMessage, msg)
                  })
                  .catch((err) => handleError(err, resource.error_response_body))
              } else if (response.status === 409) {
                showErrorMessage(eleMessage, resource.password_duplicate)
              } else if (response.status === 403) {
                if (isHidden(txtPasscode.parentElement)) {
                  hideElement(txtCurrentPassword.parentElement)
                  hideElement(txtPassword.parentElement)
                  hideElement(txtConfirmPassword.parentElement)
                  unhideElement(txtPasscode.parentElement)
                } else {
                  showErrorMessage(eleMessage, resource.msg_passcode_incorrect)
                }
              } else {
                console.error("Error: ", response.statusText)
                alertError(resource.error_submit_failed, response.statusText)
              }
            }
          })
          .catch((err) => handleError(err, resource.error_network))
      }
    </script>
  </body>
</html>
