<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="theme-color" content="#fff" />
    <meta name="color-scheme" content="light" />
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Web site created using create-react-app" />
    <link rel="apple-touch-icon" href="/logo192.png" />
    <link rel="stylesheet" href="/fonts/material-icon/css/material-icons.css" />
    <link rel="stylesheet" href="/fonts/Roboto/font.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="manifest" href="/manifest.json" />
    <title>CMS Backoffice</title>
  </head>
  <body id="sysBody" class="full-header top-menu">
    {% include "partials/common.html" %}
    <div id="root">
      <div id="pageContainer" class="central-full">
        <form id="forgotPasswordForm" name="forgotPasswordForm" class="form" novalidate autocomplete="off" method="post">
          <div class="view-body row">
            <img class="logo" src="/images/logo.png" alt="logo" />
            <h2>{{resource.forgot_password}}</h2>
            <div class="message alert-error">{{message}}<span onclick="clearMessage(event)"></span></div>
            <label class="col s12 required {{errors.username.invalid}}">
              {{resource.username}}
              <input
                type="text"
                id="contact"
                name="contact"
                value="{{user.contact}}"
                maxlength="100"
                required
                placeholder="{{resource.placeholder_username}}"
              />
            </label>
            <button type="submit" id="btnSignin" name="btnSignin" onclick="forgotPassword(event)">{{resource.button_send_code_to_reset_password}}</button>
            <a id="btnResetPassword" href="/reset-password">{{resource.button_reset_password}}</a>
            <a id="btnSignin" href="/login">{{resource.button_signin}}</a>
            <a id="btnHome" href="/">{{resource.button_home}}</a>
          </div>
        </form>
      </div>
    </div>
    <script>
      const resource = {
        success_forgot_password: "{{resource.success_forgot_password}}",
        fail_forgot_password: "{{resource.fail_forgot_password}}",
        error_contact_exp: "{{resource.error_contact_exp}}",
        error_required: "{{resource.error_required}}",
        error_password: "{{resource.error_password}}",
        error_equal: "{{resource.error_equal}}",
        error_required: "{{resource.error_required}}",
        error_email: "{{resource.error_email}}",
        error_400: "{{resource.error_400}}",
        error_409: "{{resource.error_409}}",
        error_network: "{{resource.error_network}}",
        error_response_body: "{{resource.error_response_body}}",
        error_submit_failed: "{{resource.error_submit_failed}}",
      }
      function getResource() {
        return resource
      }
    </script>
    <script src="/static/script.js"></script>
    <script>
      function forgotPassword(e) {
        e.preventDefault()
        const resource = getResource()
        const target = e.target
        const form = target.form
        const eleMessage = form.querySelector(".message")
        const txtContact = getElement(form, "contact")
        const contact = txtContact.value
        if (contact === "") {
          const label = getLabel(txtContact)
          const msg = format(resource.error_required, label)
          showErrorMessage(eleMessage, msg)
          return
        }
        if (!isEmail(contact) && !isUsername(contact)) {
          showErrorMessage(eleMessage, resource.error_contact_exp)
          return
        }
        const url = getCurrentURL()
        const user = { contact }
        fetch(url, {
          method: "POST",
          headers: getHttpHeaders(),
          body: JSON.stringify(user),
        })
          .then((response) => {
            if (response.ok) {
              showInfoMessage(eleMessage, resource.success_forgot_password)
            } else {
              if (response.status === 404) {
                showErrorMessage(eleMessage, resource.fail_forgot_password)
              } else {
                console.error("Error: ", response.statusText)
                alertError(resource.error_submit_failed, response.statusText)
              }
            }
          })
          .catch((err) => handleError(err, resource.error_network))
      }
    </script>
  </body>
</html>
