<header>
  <i class="material-icons highlight">beenhere</i>{{resource.achievements}}
  <button
    type="button"
    id="btnAchievement"
    name="btnAchievement"
    class="btn-close"
    onclick="closePart(this, 'userAchievements', 'achievements', 'btn-edit')"
  ></button>
</header>
{% for achievement in user.achievements %}
<section data-value="true">
  <h4>{{achievement.subject}}{% if achievement.highlight %}<i class="star highlight"></i>{% endif %}</h4>
  <p class="description">{{achievement.description}}</p>
  <button type="button" class="btn-remove" onclick="removeParent(this)"></button>
  <hr />
</section>
{% endfor %}
<section>
  <div class="form-group">
    <input
      type="text"
      name="subject"
      value=""
      class="form-control"
      maxlength="50"
      required
      placeholder="{{resource.placeholder_user_profile_achievement_subject}}"
    />
    <input
      type="text"
      name="description"
      value=""
      class="form-control"
      maxlength="100"
      required
      placeholder="{{resource.placeholder_user_profile_achievement_description}}"
    />
  </div>
  <label class="checkbox-container"><input id="highlight" type="checkbox" name="highlight" />{{resource.user_profile_highlight_achievement}}</label>
  <div class="btn-group">
    <button type="button" id="btnAddAchievement" name="btnAddAchievement" class="btn-add" onclick="addAchievement(this)"></button>
    {{resource.button_add_achievement}}
  </div>
</section>
<footer>
  <button type="submit" id="btnSave" name="btnSave" onclick="saveAchievements(event)">{{resource.save}}</button>
</footer>
