<header>
  <i class="material-icons highlight">beenhere</i>{{resource.achievements}}
  <button
    type="button"
    id="btnAchievement"
    name="btnAchievement"
    class="btn-close"
    onclick="closePart(this, 'userAchievements', 'achievements', 'btn-edit')"
  ></button>
</header>
{% for achievement in user.achievements %}
<section data-value="true">
  <h3>{{achievement.subject}}<i class="star highlight"></i></h3>
  <p class="description">{{achievement.description}}</p>
  <button type="button" class="btn-remove" onclick="removeParent(this)"></button>
  <hr />
</section>
{% endfor %}
<section>
  <div class="form-group">
    <input type="text" name="subject" value="" class="form-control" maxlength="50" required placeholder="Name of Achievement" />
    <input type="text" name="description" value="" class="form-control" maxlength="100" required placeholder="Description of Achievement" />
  </div>
  <label class="checkbox-container"><input id="highlight" type="checkbox" name="highlight" />Highlight Achievement</label>
  <div class="btn-group">
    <button type="button" id="btnAddAchievement" name="btnAddAchievement" class="btn-add" onclick="addAchievement(this)"></button>Add Achievement
  </div>
</section>
<footer>
  <button type="submit" id="btnSave" name="btnSave" onclick="submitPartialForm(event, 'userAchievements', 'achievements', 'btn-edit')">
    {{resource.save}}
  </button>
</footer>
