<header>
  <i class="material-icons highlight">beenhere</i>{{resource.achievements}}
  <button
    type="button"
    id="btnAchievement"
    name="btnAchievement"
    class="btn-edit"
    onclick="editPart(this, 'userAchievements', 'achievements_update', 'btn-edit')"
  ></button>
</header>
{% for achievement in user.achievements %}
<section class="item">
  <h4>{{achievement.subject}}{% if achievement.highlight %}<i class="star highlight float-right"></i>{% endif %}</h4>
  <p class="description">{{achievement.description}}</p>
  <hr />
</section>
{% endfor %}
