<div class="cover" style="background-image: url('{{user.coverURL}}')">
  <button type="button" id="cameraBtn" name="cameraBtn" class="btn-camera"></button>
</div>
<div id="headerTrigger" class="header-trigger"></div>
<header id="myprofileHeader" class="profile-header">
  <div class="profile-header-inner">
    <div class="avatar-wrapper">
      <div class="avatar" style="background-image: url('{{user.imageURL}}')">
      </div>
      <img class="profile-status" src="/images/online.svg" alt="status" />
      <button type="button" id="cameraBtn" name="cameraBtn" class="btn-camera"></button>
    </div>
    <div class="profile-info">
      <h1>
        <a id="aUser" href="/my-profile" onclick="navigate(event, 'myProfileBody')">{{user.displayName}}</a>
        {% if user.followingAt and user.followedAt %}<i class="material-icons highlight">group</i>{% endif %}
      </h1>
      <p>{{user.headline}}</p>
      <div class="profile-followers">
        <a id="followerCount" href="/my-profile/followers" onclick="navigate(event, 'myProfileBody')">
          <i class="material-icons highlight">group</i>{{user.followerCount}} followers
        </a>
        <a id="followingCount" href="/my-profile/following" onclick="navigate(event, 'myProfileBody')">
          <i class="material-icons highlight">group_add</i>{{user.followingCount}} followings
        </a>
      </div>
    </div>
  </div>
</header>