<header>
  <i class="material-icons highlight">flash_on</i>{{resource.interests}}
  <button type="button" id="btnInterest" name="btnInterest" class="btn-close" onclick="closePart(this, 'userInterests', 'interests', 'btn-edit')"></button>
</header>
<section id="userInterests" class="chip-list" data-name="interests">
  {{generateTags(user.interests)}}
  <div class="chip-input-container">
    <input type="text" id="txtInterest" name="txtInterest" data-skip="true" onkeydown="chipOnKeydown(event)" placeholder="Enter a tag value..." />
    <button type="button" id="btnAddInterest" name="btnAddInterest" class="btn-add" onclick="addChip(this)"></button>
  </div>
</section>
<footer>
  <button type="submit" id="btnSave" name="btnSave" onclick="submitForm(event)">{{resource.save}}</button>
</footer>
