<header>
  <h3>{{resource.companies}}</h3>
</header>
<div class="main-body">
  <form id="companiesForm" name="companiesForm" class="form" novalidate>
    <span class="hidden-message">{{message}}</span>
    <section class="row search-group">
      <label class="col s12 m6 search-input">{% include "partials/advance-search.html" %}</label>
      {% include "partials/pagination.html" %}
    </section>
    <section class="row search-group inline advance-search" hidden>
      <label class="col s12 m4">
        {{resource.industry}}
        <input type="text" id="industry" name="industry" value="{{filter.industry}}" maxlength="100" />
      </label>
    </section>
    <input type="hidden" id="page" name="page" value="{{filter.page}}" />
  </form>
  <ul class="row list">
    {% for company in list %}
    <li class="col s12 l6 img-item">
      <img src="{{company.logo}}" alt="company logo" />
      <a href="/companies/{{company.slug}}{{langSearch}}" onclick="navigate(event)">{{company.companyName}}</a>
      <button class="btn-detail"></button>
      <p class="center-align-items">
        {{company.industry}} {% if account %} {% if company.followedAt %}
        <i class="material-icons" onclick="unfollow(this, '{{company.id}}')">bookmark</i>
        {% else %}
        <i class="material-icons" onclick="follow(this, '{{company.id}}')">bookmark_border</i>
        {% endif %} {% endif %}
      </p>
    </li>
    {% endfor %}
  </ul>
</div>