<form id="reviewsForm" name="reviewsForm" class="form" novalidate data-part="reviewBody">
  <span class="hidden-message">{{message}}</span>
  <section class="row search-group">
    <div class="col s12 m6">
      <div class="sort">
        <button id="sortBtn" type="button" class="btn-sort" onclick="toggleSort(event)">{{sortText}}</button>
        <div id="sortDropdown" class="dropdown">
          {% for item in sorts %}
          <a id="{{item.id}}" href="{{item.value}}" onclick="navigate(event)">{{item.text}}</a>
          {% endfor %}
        </div>
      </div>
    </div>
    {% include "partials/pagination.html"%}
  </section>
  <input type="hidden" id="page" name="page" value="{{filter.page}}" />
</form>
<ul class="row list">
  {% for item in list %}
  <li class="col s12 m6 xl3 review-item">
    <header>
      <strong>{{item.displayName}}</strong>
      <div class="review-item-stars" {{item.percent}}></div>
    </header>
    <p class="center-align-items">{{item.time}}</p>
    <p>{{item.review}}</p>
    <footer>
      <span class="center-align-items">It is helpful
        {% if item.reaction == 1 %}
        <i class="material-icons highlight" onclick="removeUseful(this, '{{item.rateId}}')">thumb_up</i>
        {% else %}
        <i class="material-icons" onclick="setUseful(this, '{{item.rateId}}')">thumb_up</i>
        {% endif %}
      </span>
      <span class="center-align-items" {% if item.usefulCount==0 %} hidden {% endif %}>
        <span class="useful">{{item.usefulCount}}</span>
        <i class="material-icons">thumb_up</i></span>
    </footer>
  </li>
  {% endfor %}
</ul>