<div class="cover" style="background-image: url('{{user.coverURL}}')">
</div>
<div id="headerTrigger" class="header-trigger"></div>
<header id="profileHeader" class="profile-header">
  <div class="profile-header-inner">
    <div class="avatar-wrapper">
      <div class="avatar" style="background-image: url('{{user.imageURL}}')">
      </div>
      <img class="profile-status" src="/images/online.svg" alt="status" />
    </div>
    <div class="profile-info">
      <h1>
        <a id="aUser" href="/profiles/{{user.username}}" onclick="navigate(event, 'userBody')">{{user.displayName}}</a>
        {% if user.followingAt and user.followedAt %}<i class="material-icons highlight">group</i>{% endif %}
      </h1>
      <p>{{user.headline}}</p>
      <div class="profile-followers">
        <a id="followerCount" href="/profiles/{{user.username}}/followers" onclick="navigate(event, 'userBody')">
          <i class="material-icons highlight">group</i>{{user.followerCount}} followers
        </a>
        <a id="followingCount" href="/profiles/{{user.username}}/following" onclick="navigate(event, 'userBody')">
          <i class="material-icons highlight">group_add</i>{{user.followingCount}} followings
        </a>
      </div>
      {% if account and account.id != user.id %}
      {% if user.followingAt %}
      <button type="button" id="followBtn" name="followBtn" class="btn-follow"
        data-follow-text="{{resource.button_follow}}" data-unfollow-text="{{resource.button_unfollow}}"
        data-followers="{{user.followerCount}}" onclick="unfollow(this, '{{user.id}}', true)">
        {{resource.button_unfollow}}
      </button>
      {% else %}
      <button type="button" id="followBtn" name="followBtn" class="btn-follow"
        data-follow-text="{{resource.button_follow}}" data-unfollow-text="{{resource.button_unfollow}}"
        data-followers="{{user.followerCount}}" onclick="follow(this, '{{user.id}}', true)">
        {{resource.button_follow}}
      </button>
      {% endif %} {% endif %}
    </div>
  </div>
</header>