<header class="profile-header border-bottom-highlight">
  <div class="cover-image">
    <img src="{{user.coverURL}}" alt="cover" />
    {% if account and account.id != user.id %}
    <div class="contact-group">
      <button id="btnPhone" name="btnPhone" class="btn-phone"></button><button id="btnEmail" name="btnEmail"
        class="btn-email"></button>
    </div>
    {% if user.followingAt %}
    <button type="button" id="btnFollow" name="btnFollow" class="btn-follow"
      data-follow-text="{{resource.button_follow}}" data-unfollow-text="{{resource.button_unfollow}}"
      data-followers="{{user.followerCount}}" onclick="unfollow(this, '{{user.id}}', true)">
      {{resource.button_unfollow}}
    </button>
    {% else %}
    <button type="button" id="btnFollow" name="btnFollow" class="btn-follow"
      data-follow-text="{{resource.button_follow}}" data-unfollow-text="{{resource.button_unfollow}}"
      data-followers="{{user.followerCount}}" onclick="follow(this, '{{user.id}}', true)">
      {{resource.button_follow}}
    </button>
    {% endif %} {% endif %}
  </div>
  <div class="avatar-wrapper">
    <img class="avatar" src="{{user.imageURL}}" alt="user avatar" />
    <img class="profile-status" src="/images/online.svg" alt="status" />
  </div>
  <div class="profile-title">
    <h2>
      <a id="aUser" href="/profiles/{{user.username}}"
        onclick="navigate(event, true, 'userBody')">{{user.displayName}}</a>
      {% if user.followingAt and user.followedAt %}<i class="material-icons highlight">group</i>{% endif %}
    </h2>
    <p>{{user.headline}}</p>
  </div>
  <div class="profile-followers">
    <a id="followerCount" href="/profiles/{{user.username}}/followers" onclick="navigate(event, true, 'userBody')">
      <i class="material-icons highlight">group</i>{{user.followerCount}} followers
    </a>
    <a id="followingCount" href="/profiles/{{user.username}}/following" onclick="navigate(event, true, 'userBody')">
      <i class="material-icons highlight">group_add</i>{{user.followingCount}} followings
    </a>
  </div>
</header>