<div>
  <header>
    <button type="button" id="backBtn" name="backBtn" class="btn-back" onclick="goBack()"></button>
    <h2>{{resource.ratings_and_reviews}}</h2>
  </header>
  <div class="main-body">
    <div id="rateSummaryContainer" class="rating-summary-container">
      {% include "partials/rating-summary.html" %}
    </div>
    {% if account %}
    <div class="rate-header">
      <button class="btn-review" onclick="openReview('rateModal')">{{resource.write_a_review}}</button>
    </div>
    {% endif %}
    <div id="reviewBody">
      {% include "pages/reviews.html"%}
    </div>
    {% if account %}
    <div id="rateModal" class="modal-bg">
      <div class="modal">
        {% include "partials/rating-form.html" %}
      </div>
    </div>
    {% endif %}
  </div>
</div>