<form id="passwordForm" name="passwordForm" class="form central-full" novalidate autocomplete="off">
  <div class="view-body row">
    <img class="logo" src="/images/logo.png" alt="logo" />
    <h2>{{resource.change_password}}</h2>
    <div class="message alert-error">{{message}}<span onclick="clearMessage(event)"></span></div>
    <label class="col s12 required {{errors.currentPassword.invalid}}">
      {{resource.current_password}}
      <input
        type="text"
        id="currentPassword"
        name="currentPassword"
        value="{{user.currentPassword}}"
        maxlength="100"
        required
        placeholder="{{resource.placeholder_current_password}}"
      />
    </label>
    <label class="col s12 required {{errors.password.invalid}}">
      {{resource.new_password}}
      <input type="text" id="password" name="password" value="{{user.password}}" maxlength="100" required placeholder="{{resource.placeholder_new_password}}" />
    </label>
    <label class="col s12 required">
      {{resource.confirm_password}}
      <input
        type="text"
        id="confirmPassword"
        name="confirmPassword"
        value=""
        maxlength="100"
        required
        placeholder="{{resource.placeholder_confirm_password}}"
      />
    </label>
    <label class="col s12 required {{errors.passcode.invalid}}" hidden>
      {{resource.passcode}}
      <input type="text" id="passcode" name="passcode" value="{{user.passcode}}" maxlength="100" placeholder="{{resource.placeholder_passcode}}" />
    </label>
    <button type="submit" id="btnChangePassword" name="btnChangePassword" onclick="changePassword(event)">{{resource.button_change_password}}</button>
    <a id="btnSignin" href="/login">{{resource.button_signin}}</a>
    <a id="btnHome" href="/">{{resource.button_home}}</a>
  </div>
</form>
