<div id="companyPage" class="profile">
  {% include "pages/company/header.html" %}
  <nav class="tabs">
    <a class="tab active" href="/companies/{{company.slug}}" onclick="navigate(event, 'companyBody')">
      {{resource.overview}}</a>
    <a class="tab" href="/companies/{{company.slug}}/reviews" onclick="navigate(event, 'companyBody')">
      {{resource.reviews}}</a>
    <a class="tab" href="/companies/{{company.slug}}/articles" onclick="navigate(event, 'companyBody')">
      {{resource.articles}}</a>
    <a class="tab" href="/companies/{{company.slug}}/followers" onclick="navigate(event, 'companyBody')">
      {{resource.followers}}</a>
    <a class="tab" href="/companies/{{company.slug}}/jobs" onclick="navigate(event, 'companyBody')">
      {{resource.jobs}}</a>
  </nav>
  <div id="companyBody" class="profile-body">
    {% include "pages/company/main.html" %}
  </div>
  {% include "pages/company/script.html" %}
</div>