<div id="companyPage" class="profile">
  {% include "pages/company/header.html" %}
  <nav class="tabs">
    <a class="tab active" href="/companies/{{company.slug}}">{{resource.overview}}</a>
    <a class="tab" href="#">{{resource.reviews}}</a>
    <a class="tab" href="/companies/{{company.slug}}/articles">{{resource.articles}}</a>
    <a class="tab" href="/companies/{{company.slug}}/followers">{{resource.followers}}</a>
    <a class="tab" href="#">Community</a>
  </nav>
  <div id="companyBody" class="profile-body">
    {% include "pages/company/main.html" %}
  </div>
  <script data-init-script="true">
    resources.load = function (pageBody) {
      const page = document.getElementById("profilePage")
      const trigger = document.getElementById("headerTrigger")
      const header = document.getElementById("profileHeader")
      const observer = new IntersectionObserver(
        ([entry]) => {
          if (entry.isIntersecting) {
            header.classList.remove("compact")
          }
          else {
            header.classList.add("compact")
          }
        },
        {
          root: page,
          threshold: 0
        }
      )
      observer.observe(trigger)
    }
  </script>
</div>