<div>
  <header>
    <h2>{{resource.companies}}</h2>
  </header>
  <div class="main-body">
    <form id="companiesForm" name="companiesForm" class="form" novalidate>
      <span class="hidden-message">{{message}}</span>
      <section class="row search-group">
        <label class="col s12 m6 search-input">{% include "partials/advance-search.html" %}</label>
        {% include "partials/pagination.html" %}
      </section>
      <section class="row search-group inline advance-search" hidden>
        <label class="col s12 m4">
          {{resource.industry}}
          <input type="text" id="industry" name="industry" value="{{filter.industry}}" maxlength="100" />
        </label>
      </section>
      <input type="hidden" id="page" name="page" value="{{filter.page}}" />
    </form>
    <ul class="row list">
      {% for item in list %}
      <li class="col s12 l6 img-item">
        <img src="{{item.logo}}" alt="item logo" />
        <a href="/companies/{{item.slug}}{{langSearch}}" onclick="navigate(event)">{{item.name}}</a>
        <button class="btn-detail"></button>
        <p class="center-align-items">
          {{item.industry}} {% if account %} {% if item.followedAt %}
          <i class="material-icons" onclick="unfollowCompany(this, '{{item.id}}')">bookmark</i>
          {% else %}
          <i class="material-icons" onclick="followCompany(this, '{{item.id}}')">bookmark_border</i>
          {% endif %} {% endif %}
        </p>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>