<article class="article">
  <header>
    <button type="button" id="backBtn" name="backBtn" class="btn-back" onclick="goBack()"></button>
    <h2>{{job.title}}</h2>
  </header>
  <div class="article-body">
    <h3 class="article-description">{{resource.location}}: {{job.location}}</h3>
    <h4 class="article-meta">{{job.publishedAt}}</h4>
    <h4 class="article-meta">{{resource.quantity}}: {{job.quantity}}</h3>
      {% if isNotEmpty(job.skills) %}<h4 class="article-meta">{{resource.skills}}: {{generateTags(job.skills, true)}}
      </h4>{% endif %}
      <div class="job-description">{{job.description}}</div>
  </div>
</article>