<form id="articleForm" name="articleForm" class="form" novalidate aria-readonly="{{readonly}}">
  <header>
    <button type="button" id="btnBack" name="btnBack" class="btn-back" onclick="goBack()"></button>
    <h2>{{resource.article}}</h2>
    <button class="btn-group btn-right"><i class="material-icons">group</i></button>
  </header>
  <div class="row">
    <label class="col s6 m6">
      {{resource.id}}
      <input
        type="text"
        id="id"
        name="id"
        value="{{article.id}}"
        maxlength="60"
        required
        readonly
        onblur="requiredOnBlur(event)"
        placeholder="{{resource.id}}"
      />
    </label>
    <label class="col s6 m6">
      {{resource.thumbnail}}
      <input
        type="url"
        id="thumbnail"
        name="thumbnail"
        value="{{article.thumbnail}}"
        maxlength="255"
        required
        onblur="requiredOnBlur(event)"
        placeholder="{{resource.thumbnail}}"
      />
    </label>
    <label class="col s12 m6">
      {{resource.published_at}}
      <input type="datetime-local" id="publishedAt" name="publishedAt" value="{{datetimeToString(article.publishedAt)}}" step=".010" />
    </label>
    <div class="col s12 m6 radio-section">
      {{resource.status}}
      <div class="radio-group">
        <label><input type="radio" id="active" name="status" value="A" {% if article.status == "A" %} checked {% endif %}/>{{resource.active}}</label>
        <label><input type="radio" id="inactive" name="status" value="I" {% if article.status == "I" %} checked {% endif %}/>{{resource.inactive}}</label>
      </div>
    </div>
    <label class="col s12 required">
      {{resource.title}}
      <input
        type="text"
        id="title"
        name="title"
        value="{{article.title}}"
        maxlength="255"
        required
        onblur="requiredOnBlur(event)"
        placeholder="{{resource.article_name}}"
      />
    </label>
    <label class="col s12 textarea-container required">
      {{resource.description}}
      <textarea id="description" name="description" rows="4" maxlength="1200" placeholder="{{resource.description}}"/>{{article.description}}</textarea>
    </label>
    <label class="col s12 textarea-container">
      {{resource.tags}}
      <div class="chip-list" data-name="tags">{{generateTags(article.tags)}}
        <div class="chip-input-container">
          <input type="text" id="txtTag" name="txtTag" data-skip="true" onkeydown="chipOnKeydown(event)" placeholder="Enter a tag value..." />
          <button type="button" id="btnAddTag" name="btnAddTag" class="btn-add" onclick="addChip(this)"></button>
        </div>
      </div>
    </label>
    <label class="col s12 textarea-container required">
      {{resource.content}}
      <textarea id="content" name="content" rows="80" maxlength="9000" placeholder="{{resource.content}}"/>{{article.content}}</textarea>
    </label>
  </div>
  <footer class="view-footer">
    <button type="submit" id="btnSave" name="btnSave" onclick="submitForm(event)" {% if readonly %} disabled {% endif %}>{{resource.save}}</button>
  </footer>
</form>
