<form id="articleForm" name="articleForm" class="form" novalidate aria-readonly="{{readonly}}">
  <header>
    <button type="button" id="backBtn" name="backBtn" class="btn-back" onclick="goBack()"></button>
    <h2>{{resource.my_article}}</h2>
  </header>
  <div class="row">
    <label class="col s6 m6">
      {{resource.id}}
      <input type="text" id="id" name="id" value="{{article.id}}" maxlength="60" required readonly
        onblur="requiredOnBlur(event)" placeholder="{{resource.id}}" />
    </label>
    <label class="col s6 m6">
      {{resource.thumbnail}}
      <input type="url" id="thumbnail" name="thumbnail" value="{{article.thumbnail}}" maxlength="255" required
        onblur="requiredOnBlur(event)" placeholder="{{resource.thumbnail}}" />
    </label>
    <label class="col s12 m6">
      {{resource.published_at}}
      <input type="datetime-local" id="publishedAt" name="publishedAt" value="{{datetimeToString(article.publishedAt)}}"
        step=".010" />
    </label>
    <div class="col s12 m6 radio-section">
      {{resource.status}}
      <div class="radio-group">
        <label><input type="radio" id="active" name="status" value="A" {% if article.status=="A" %} checked {% endif
            %} />{{resource.active}}</label>
        <label><input type="radio" id="inactive" name="status" value="I" {% if article.status=="I" %} checked {% endif
            %} />{{resource.inactive}}</label>
      </div>
    </div>
    <label class="col s12 required">
      {{resource.title}}
      <input type="text" id="title" name="title" value="{{article.title}}" maxlength="255" required
        onblur="requiredOnBlur(event)" placeholder="{{resource.article_name}}" />
    </label>
    <label class="col s12 auto-height required">
      {{resource.description}}
      <textarea id="description" name="description" rows="4" maxlength="1200"
        placeholder="{{resource.description}}" />{{article.description}}</textarea>
    </label>
    <label class="col s12 auto-height">
      {{resource.tags}}
      <div class="chip-list" data-name="tags">{{generateTags(article.tags)}}
        <div class="chip-input-container">
          <input type="text" id="txtTag" name="txtTag" data-skip="true" onkeydown="chipOnKeydown(event)"
            placeholder="Enter a tag value..." />
          <button type="button" id="addTagBtn" name="addTagBtn" class="btn-add" onclick="addChip(this)"></button>
        </div>
      </div>
    </label>
    <label class="col s12 auto-height required">
      {{resource.content}}
      <textarea id="content" name="content" rows="80" maxlength="9000"
        placeholder="{{resource.content}}" />{{article.content}}</textarea>
    </label>
    <label class="col s12 auto-height">
      <div class="editor-container">
        <!-- Toolbar -->
        <div id="toolbar" style="display: none;" class="toolbar">
          <span class="ql-formats">
            <select class="ql-header">
              <option value="1"></option>
              <option value="2"></option>
              <option value="3"></option>
              <option value="4"></option>
              <option value="5"></option>
              <option selected></option>
            </select>
            <button class="ql-bold"></button>
            <button class="ql-italic"></button>
            <button class="ql-underline"></button>
            <button class="ql-strike"></button>
          </span>
          <span class="ql-formats">
            <button class="ql-list" value="ordered"></button>
            <button class="ql-list" value="bullet"></button>
            <button class="ql-indent" value="-1"></button>
            <button class="ql-indent" value="+1"></button>
          </span>
          <span class="ql-formats">
            <button class="ql-link"></button>
            <button class="ql-image"></button>
            <button class="ql-code-block"></button>
          </span>
          <span class="ql-formats">
            <button class="ql-clean"></button>
          </span>
        </div>
        <!-- Editor -->
        <div id="editor" style="display: none;" class="editor" aria-label="Rich text editor"></div>
        <div class="controls">
          <button type="button" id="toggleViewBtn" onclick="toggleView(this, 'content', 'editor', 'toolbar')">
            Toggle View
          </button>
        </div>
      </div>
    </label>
  </div>
  <footer class="view-footer">
    <button type="submit" id="saveBtn" name="saveBtn" onclick="submitForm(event)" {% if readonly %} disabled {% endif
      %}>{{resource.save}}</button>
  </footer>
  <script id="my-article" src="/static/my-article.js"></script>
  <script data-init-script="true">
    resources.load = function (pageBody) {
      const quill = new Quill("#editor", {
        modules: {
          toolbar: "#toolbar",
        },
        theme: "snow",
      })
      const toolbar = quill.getModule('toolbar')
      toolbar.addHandler('link', function (value) {
        if (value) {
          const range = quill.getSelection();
          if (range && range.length > 0) {
            let url = prompt('Enter the URL:');
            if (url) {
              if (!/^https?:\/\//i.test(url)) {
                url = 'https://' + url;
              }
              quill.format('link', url);
            }
          } else {
            alert('Please select some text before adding a link.');
          }
        } else {
          quill.format('link', false);
        }
      });
      const form = document.getElementById("articleForm")
      if (form) {
        form.quill = quill
      }
    }
  </script>
</form>