<div class="profile view-container">
  <form id="userForm" name="userForm">
    <header class="profile-header border-bottom-highlight">
      <div class="cover-image">
        <img src="{{user.coverURL}}" alt="cover" />
        {% if account and account.id != user.id %}
        <div class="contact-group">
          <button id="btnPhone" name="btnPhone" class="btn-phone"></button><button id="btnEmail" name="btnEmail" class="btn-email"></button>
        </div>
        {% if user.followingAt %}
        <button
          type="button"
          id="btnFollow"
          name="btnFollow"
          class="btn-follow"
          data-follow-text="{{resource.button_follow}}"
          data-unfollow-text="{{resource.button_unfollow}}"
          data-followers="{{user.followerCount}}"
          onclick="unfollow(this, '{{user.id}}', true)"
        >
          {{resource.button_unfollow}}
        </button>
        {% else %}
        <button
          type="button"
          id="btnFollow"
          name="btnFollow"
          class="btn-follow"
          data-follow-text="{{resource.button_follow}}"
          data-unfollow-text="{{resource.button_unfollow}}"
          data-followers="{{user.followerCount}}"
          onclick="follow(this, '{{user.id}}', true)"
        >
          {{resource.button_follow}}
        </button>
        {% endif %} {% endif %}
      </div>
      <button id="btnCamera" name="btnCamera" class="btn-camera"></button>
      <div class="avatar-wrapper">
        <img class="avatar" src="{{user.imageURL}}" alt="user avatar" />
        <img class="profile-status" src="/images/online.svg" alt="status" />
      </div>
      <div class="profile-title">
        <h4>{{user.displayName}} {% if user.followingAt and user.followedAt %}<i class="material-icons highlight">group</i>{% endif %}</h4>
        <p>{{user.headline}}</p>
      </div>
      <div class="profile-followers">
        {% if user.followerCount %}
        <p id="followerCount"><i class="material-icons highlight">group</i>{{user.followerCount}} followers</p>
        {% endif %} {% if user.followingCount %}
        <p><i class="material-icons highlight">group_add</i>{{user.followingCount}} followings</p>
        {% endif %}
      </div>
    </header>
    <div class="row list card-grid">
      <div class="col m12 l4">
        <div id="userInfo" class="card">{% include "pages/user/info.html" %}</div>
        <div id="userSkills" class="card">{% include "pages/user/skills.html" %}</div>
        <div class="card">
          <header>
            <i class="material-icons highlight">find_in_page</i>Looking for<button
              type="button"
              id="btnLookingFor"
              name="btnLookingFor"
              class="btn-edit"
            ></button>
          </header>
          <section class="chip-list">{{generateTags(user.lookingFor, true)}}</section>
        </div>
        <div class="card">
          <header>
            <i class="material-icons highlight">chat</i>Social
            <button type="button" id="btnSocial" name="btnSocial" class="btn-edit"></button>
          </header>
          <div>
            <a href="https://facebookcom/minhduc" title="facebook" target="_blank" rel="noreferrer"><i class="fa fa-facebook"></i><span>facebook</span></a>
            <a href="https://linkedin.com/minhduc1405" title="Linked in" target="_blank" rel="noreferrer"
              ><i class="fa fa-linkedin"></i><span>Linked in</span></a
            >
          </div>
        </div>
      </div>
      <div class="col m12 l8">
        <div class="card border-bottom-highlight">
          <header>
            <i class="material-icons highlight">person</i>{{resource.about}}<button type="button" id="btnBio" name="btnBio" class="btn-edit"></button>
          </header>
          <p>{{user.bio}}</p>
        </div>
        <div id="userInterests" class="card border-bottom-highlight">{% include "pages/user/interests.html" %}</div>
        <div id="userAchievements" class="card border-bottom-highlight">{% include "pages/user/achievements.html" %}</div>
      </div>
    </div>
  </form>
</div>
