<nav class="tabs">
  <a class="tab active" href="/profiles/{{user.username}}" onclick="navigate(event, 'userBody')">Overview</a>
  <a class="tab" href="/profiles/{{user.username}}/articles" onclick="navigate(event, 'userBody')">Articles</a>
  <a class="tab" href="/profiles/{{user.username}}/followers" onclick="navigate(event, 'userBody')">Followers</a>
  <a class="tab" href="/profiles/{{user.username}}/following" onclick="navigate(event, 'userBody')">Following</a>
  <a class="tab" href="/profiles/{{user.username}}/companies" onclick="navigate(event, 'userBody')">Companies</a>
</nav>
<div class="profile">
  {% include "pages/user/header.html" %}
  <div id="userBody" class="profile-body">
    {% include "pages/shared/followers.html" %}
  </div>
</div>