<form id="userForm" name="userForm" class="form" novalidate>
  <header>
    <button type="button" id="btnBack" name="btnBack" class="btn-back" onclick="goBack()"></button>
    <h2>{{resource.user}}</h2>
    <div class="btn-group">
      <button class="btn-group btn-right"><i class="material-icons">group</i></button>
      <button class="btn-group btn-right"><i class="material-icons">group</i></button>
    </div>
  </header>
  <div class="row">
    <label class="col s12 m6">
      {{resource.user_id}}
      <input
        type="text"
        id="userId"
        name="userId"
        class="form-control"
        value="{{user.userId}}"
        readonly
        maxlength="20"
        required
        placeholder="{{resource.user_id}}"
      />
    </label>
    <label class="col s12 m6">
      {{resource.username}}
      <input
        type="text"
        id="username"
        name="username"
        class="form-control"
        value="{{user.username}}"
        readonly=""
        maxlength="40"
        required
        onblur="requiredOnBlur(event)"
        placeholder="{{resource.username}}"
      />
    </label>
    <label class="col s12 m6">
      {{resource.display_name}}
      <input
        type="text"
        id="displayName"
        name="displayName"
        class="form-control"
        value="{{user.displayName}}"
        maxlength="40"
        required
        onblur="requiredOnBlur(event)"
        placeholder="{{resource.display_name}}"
      />
    </label>
    <label class="col s12 m6 flying">
      {{resource.phone}}
      <input
        type="tel"
        id="phone"
        name="phone"
        class="form-control"
        value="{{user.phone}}"
        maxlength="17"
        onfocus="phoneOnFocus(event)"
        onblur="phoneOnBlur(event, formatPhone)"
        placeholder="{{resource.phone}}"
      />
    </label>
    <label class="col s12 m6 flying">
      {{resource.email}}
      <input type="text" id="email" name="email" data-type="email" maxlength="100" value="{{user.email}}" placeholder="{{resource.email}}" />
    </label>
    <label class="col s12 m6">
      {{resource.gender}}
      <div class="radio-group">
        <label><input type="radio" id="gender" name="gender" disabled value="M" {% if user.gender == "M" %} checked {% endif %} />{{resource.male}}</label>
        <label><input type="radio" id="gender" name="gender" disabled value="F" {% if user.gender == "F" %} checked {% endif %} />{{resource.female}}</label>
      </div>
    </label>
    <div class="col s12 m6 radio-section">
      {{resource.status}}
      <div class="radio-group">
        <label><input type="radio" id="active" name="status" value="A" {% if user.status == "A" %} checked {% endif %}/>{{resource.active}}</label>
        <label><input type="radio" id="inactive" name="status" value="I" {% if user.status == "I" %} checked {% endif %}/>{{resource.inactive}}</label>
      </div>
    </div>
  </div>
  <footer class="view-footer">
    <button type="submit" id="btnSave" name="btnSave" onclick="submitForm(event)" {% if readonly %} disabled {% endif %}>{{resource.save}}</button>
  </footer>
</form>
