<div>
  <header><h2>{{resource.users}}</h2></header>
  <div>
    <form id="usersForm" name="usersForm" class="form" novalidate>
      <span class="hidden-message">{{message}}</span>
      <section class="row search-group">{% include "partials/search.html" %} {% include "partials/pagination.html" %}</section>
      <section class="row search-group inline advance-search">
        <label class="col s12 m4">
          {{resource.username}}
          <input type="text" id="username" name="username" value="{{filter.username}}" />
        </label>
      </section>
      <input type="hidden" id="page" name="page" value="{{filter.page}}" />
    </form>
    <ul class="row list">
      {% for user in list %}
      <li class="col s12 m6 l4 xl3 img-item">
        <img src="{{user.imageURL}}" alt="user" class="round-border" />
        <a href="/profiles/{{user.id}}">{{user.email}}</a>
        <button class="btn-detail"></button>
        <p>{{user.email}}</p>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
