<header>
  <h3>{{resource.followers}}</h3>
</header>
<div class="main-body">
  <form id="followersForm" name="followersForm" class="form" novalidate data-part="userBody">
    <span class="hidden-message">{{message}}</span>
    <section class="row search-group">
      <label class="col s12 m6 search-input">{% include "partials/search.html" %}</label>
      {% include "partials/pagination.html"%}
    </section>
    <input type="hidden" id="page" name="page" value="{{filter.page}}" />
  </form>
  <ul class="row list">
    {% for item in list %}
    <li class="col s12 m6 l4 xl3 img-item">
      <img src="{{item.imageURL}}" alt="user avatar" class="round-border" />
      <a href="/profiles/{{item.username}}{{langSearch}}" onclick="navigate(event)">{{item.displayName}}</a>
      <button class="btn-detail"></button>
      <p class="center-align-items">
        {{item.occupation}} {% if account and account.id != item.id %} {% if item.followedAt %}
        <i class="material-icons" onclick="unfollow(this, '{{item.id}}')">bookmark</i>
        {% else %}
        <i class="material-icons" onclick="follow(this, '{{item.id}}')">bookmark_border</i>
        {% endif %} {% endif %}
      </p>
    </li>
    {% endfor %}
  </ul>
</div>