<form id="companyForm" name="companyForm">
  <ul class="row list card-grid">
    <li class="col s12 l6">
      <div class="card">
        <header>
          <i class="material-icons highlight">account_box</i>
          Overview
        </header>
        <div class="card-body">
          {{company.overview}}
        </div>
      </div>
    </li>
    <li class="col s12 l6">
      <div class="card">
        <header>
          <i class="material-icons highlight">account_box</i>
          Overview
        </header>
        <div class="card-body">
          {{company.overview}}
        </div>
      </div>
    </li>
  </ul>
</form>